// default white
$white: #FFF;

// default black
$black: #000;

// element green
$elemGreen: #059669;

// main background grey
$backgroundGrey: #FAFAFA;

// main background grey hover
$backgroundGreyHover: #ebeaea;

// sidebar background darkblue
$backgroundDarkBlue: rgb(31, 41, 55);

// sidebar background darkblue hover
$backgroundDarkBlueHover: rgb(25, 34, 45);

// sidebar brand background
$backgroundBrandBlue: #111827;

// text grey
$textGrey: rgb(107, 114, 128);

// text light grey
$textLightGrey: #9CA3AF;

// text light grey 2
$textLightGrey2: #D1D5DB;

// border grey
$borderGrey: rgb(243, 244, 246);

// button table update
$btnTableUpdate: #2563EB;

// button table update hover
$btnTableUpdateHover: #2250b2;

// button table read
$btnTableRead: #2563EB;

// button table read hover
$btnTableReadHover: #2250b2;

// button table delete
$btnTableDelete: #DC2626;

// button table delete hover
$btnTableDeleteHover: #9e2424;

// button table statistics
$btnTableStatistics: #059669;

// button table statistics hover
$btnTableStatisticsHover: #187c5c;
