// gray2
$gray2: #4F4F4F;

//gray3
$gray3: #828282;

// default white
$white: #FFFFFF;

// no hovered button or element
$btnOrange: #971200;

// footer background
$footerBackground: #333333;

// color for headers
$headersColor: #577DB8;