// default white
$white: #fff;

// default black
$black: #000;

// element green
$elemGreen: #05a573;

// main background
$background: #f3fdff;

// main background
$background-2: #FFF; 

// main background hover
$whiteHover: rgb(243, 241, 241);

// sidebar background darkblue
$backgroundDarkBlue: rgb(31, 41, 55);

// sidebar background darkblue hover
$backgroundDarkBlueHover: rgb(25, 34, 45);

// sidebar background
$backgroundSidebar: linear-gradient(90deg, rgba(81,111,165,1) 0%, rgba(48,141,146,1) 100%);

// sidebar background hover
$backgroundSidebarHover: linear-gradient(90deg, rgb(57, 79, 118) 0%, rgb(29, 87, 90) 100%);

// sidebar brand background
$backgroundBrand:linear-gradient(90deg, rgb(57, 79, 118) 0%, rgb(29, 87, 90) 100%);

// text grey
$textGrey: rgb(107, 114, 128);

// text light grey
$textLightGrey: #9CA3AF;

// text light grey 2
$textLightGrey2: #D1D5DB;

// border grey
$border: #b3f2db;

// button table update
$btnTableUpdate: #2563EB;

// button table update hover
$btnTableUpdateHover: #2250b2;

// button table read
$btnTableRead: #2563EB;

// button table read hover
$btnTableReadHover: #2250b2;

// button table delete
$btnTableDelete: #DC2626;

// button table delete hover
$btnTableDeleteHover: #9e2424;

// button table statistics
$btnTableStatistics: #059669;

// button table statistics hover
$btnTableStatisticsHover: #187c5c;
