@import "default";

.header-wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #FAFAFA;
    width: 100%;
    padding: 24px;
    font-size: 24px;
    font-family: 'TTHoves-Black';
    text-align: center;
    vertical-align: middle;
    align-items: center;
}