@import "default";

.table-wrapper {
    padding: 0px 24px 24px 24px;
    background: $background-2; 
    table {
        border: 1px solid $border;
        background: $background;
        margin-bottom: 0;
        thead {
            th {
                vertical-align: middle;
                font-family: 'TTHoves-DemiBold', sans-serif;
                font-size: 16px;
                padding: 8px 12px;
            } 
        }
        
        tbody {
            tr {
                background: $background-2;
                &:hover {
                    background: $whiteHover;
                }
                &:nth-child(2n) {
                    background: $background;
                    &:hover {
                        background: $whiteHover;
                    }
                }
            }
        }
        tr {
            width: 100%;
            min-height: 50px;
            border-bottom: 1px solid $border;
        }
        td {
            vertical-align: middle;
            font-family: 'TTHoves-Regular', sans-serif;
            font-size: 16px;
            padding: 8px 12px;
            min-height: 50px;
            border-bottom-width: 0px;
        }
    }
}

.table-header-wrapper {
    display: inline-flex;
    position: relative;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: $background;
    border: 1px solid $border;
    border-bottom-width: 0;
}

.table-header {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 12px;
    vertical-align: middle;
    align-items: center;
    h3 {
        font-family: 'TTHoves-DemiBold', sans-serif;
        font-size: 16px;
        color: $black;
        margin: 0px 0px 0px 12px;
    }
}

.table-ico {
    display: flex;
    height: 34px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.action-add {
    display: flex;
    height: 34px;
    width: 34px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    border: 3px solid $border;
    border-radius: 0.25rem;
    cursor: pointer;
    background: $background-2;
    &:hover {
        background: $whiteHover;
    }
}

.actions-wrapper {
    display: flex;
    float: right;
    position: relative;
    align-items: center;
}

.pagination-wrapper {
    display: inline-flex;
    position: relative;
    min-height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: $background;
    border: 1px solid $border;
    border-top-width: 0;
}

.active-action {
    display: flex;
    height: 34px;
    width: 34px;
    position: relative;
    justify-content: center;
    margin: 6px 6px 6px 0px;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
    border: 3px solid $elemGreen;
    background: $background-2;
    &:hover {
        background: $whiteHover;
    }
    span {
        display: flex;
        position: relative;
        align-items: center;
    }
}

.page-switch {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 12px;
    .page-link {
        display: flex;
        height: 34px;
        width: 34px;
        position: relative;
        justify-content: center;
        margin: 6px 6px 6px 0px;
        border-radius: 0.25rem;
        cursor: pointer;
        text-decoration: none;
        border: 3px solid $border;
        background: $background-2;
        &:hover {
            background: $whiteHover;
            border: 3px solid $border;
        }
        span {
            display: flex;
            position: relative;
            align-items: center;
        }
    }
}

.page-info {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    p {
        margin: 0px 12px 0px 0px;
    }
}