@import "default";

.topnav-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    border-style: solid;
    border-color: #e5e7eb;
    border-bottom-width: 1px;
}

.dropdown {
    float: left;
    overflow: hidden;
    &:hover .dropdown-content {
        display: block;
    }
    &:hover .user-name svg {
        transform: rotate(0deg);
        fill: #31d79b;
    }
    &:hover .user-avatar {
        border-color: #31d79b;
    }
}

.user-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 12px;
    align-content: center;
}

.user-avatar {
    display: flex;
    height: 24px;
    width: 24px;
    background-color: $white;
    border-radius: 50%;
    padding: 12px;
    background-image: url('../img/mascota.svg');
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-style: solid;
    border-color: #e5e7eb;
    border-width: 2px;
}

.user-name {
    display: flex;
    margin: 0 20px;
    span {
        display: flex;
        text-align: center;
        font-family: 'TTHoves-Regular', sans-serif;
        color: black;
        font-size: 16px;
        padding: 0 8px;
    }
    svg {
        fill: black;
        transform: rotate(180deg);
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 152px;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);
    z-index: 1;
    a {
        float: none;
        color: black;
        padding: 12px 16px;
        display: flex;
        justify-content: left;
        align-items: center;
        &:hover span {
            color: #31d79b;
        }
        &:hover svg {
            fill: #31d79b;
        }
        svg {
            fill: black;
        }
        span {
            display: flex;
            text-align: center;
            font-family: 'TTHoves-Regular', sans-serif;
            color: black;
            font-size: 16px;
            padding: 0px 12px;
        }
    }
}

.exit {
    display: flex;
    box-sizing: border-box;
    padding: 20px 24px;
    border-style: solid;
    border-color: #e5e7eb;
    border-left-width: 1px;
    svg {
        fill: black;
    }

    &:hover svg {
        fill: #31d79b;
    }
}
